
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Bienvenidxs a MercadoLiebre</title>
    </head>
    <body>
        <header>
            <div class="container__header">
                <div class="main__header header--padding">
                    <div class="logo"> 
                        <img src="images/logo-mercado-liebre.svg" alt="logotipo de mercado liebre">
                    </div>
                    <div class="form" action="#">
                        <form action="/">
                            <div class="input"><input type="text" value="Buscar productos, marcas y más">
                                <div class="submit"><i class="fa fa-search"></i></div>
                            </div>
                        </form>
                    </div>
                </div>
                <p class="header--padding"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav class="nav__container">
                <ul class="nav__links">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav__links">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger__menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <main>
            <section class="form__container">
                <form action="" method="POST">
                    <div class="form__item">
                        <input type="text" placeholder="Nombre de usuario">
                        <input type="password" placeholder="Contraseña">
                    </div>
                    <div class="form__item form__btn">
                        <input type="button" value="Enviar">
                    </div>
                    
                </form>
            </section>
        </main>
        <footer>
            <section class="info">
                <article class="box__1">
                    <i class="fa fa-solid fa-credit-card"></i>
                    <div class="main__info">
                        <h4>Pagá con tarjeta o en efectivo</h4>
                        <p class="discount">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    </div>
                </article>
                <article class="box__2">
                    <i class="fa fa-solid fa-gift"></i>
                    <div class="main__info">
                        <h4>Envío gratis desde $ 2.500</h4>
                        <p class="discount">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                    </div>
                </article>
                <article class="box__3">
                    <i class="fa fa-solid fa-user-shield"></i>
                    <div class="main__info">
                        <h4>Seguridad, de principio a fin</h4>
                        <p class="discount">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                    </div>
                </article>
                <article class="box__4">
                    <div class="main__info">
                        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
                    </div>
                </article>
            </section>
        </footer>
        
    </body>
</html>